<%-include('../includes/head.ejs')%>

    <body>



        <%-include('../includes/navBar.ejs')%>
           
        <main class="listHolder">
            <h1> This Index Products Page </h1>
            <ul class="ul" >
           
                <%if(Products.length>0){%>
                    <%for(let x in Products){%>
                        <div class="card" style="width: 18rem;">
                            <img src="https://rukminim1.flixcart.com/image/416/416/kuyf8nk0/computer/3/n/s/mk183hn-a-laptop-apple-original-imag7yzkbgbwvwq3.jpeg?q=70" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">
                                    <%=Products[x].title%>
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="card-text"> $ <%=Products[x].price%>
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <%=Products[x].description %>
                                </p>
                            </div>
                          </div>
                       

                    <%}%>

                <%}else{%>
                    <li>Array is blank</li>

                <%}%>
                


            </ul>
        </main>
            <%-include('../includes/end.ejs')%>