<%-include('../includes/head.ejs')%>

    <body>



        <%-include('../includes/navBar.ejs')%>

            <main class="listHolder">
                <h1> This Index Products Page </h1>
                <ul class="ul">

                    <%if(Products.length>0){%>
                        <%for(let x in Products){%>
                            <div class="card" style="width: 18rem;">
                                <img src="<%=Products [x].imageUrl%>" class="cardImage card-img-top " alt="<%=Products.imageUrl%>">
                                <div class="card-body">
                                    <p class="card-text">
                                        <%=Products[x].title%>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"> $
                                        <%=Products[x].price%>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%=Products[x].description %>
                                    </p>
                                </div>

                                <div class="card-body">
                                    <a href="/products/<%=Products[x].id%>" class="cart-btn"> View Details </a>
                                    <a href="/cart" class="cart-btn"> Add to cart</a>
                                </div>

                            </div>



                            <%}%>

                                <%}else{%>
                                    <li>Array is blank</li>

                                    <%}%>



                </ul>
            </main>
            <%-include('../includes/end.ejs')%>